<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <h1><%= message %></h1>
  <a href="http://localhost:3000/produtos" style="color:white;">ACESSE A LOJA!</a>
</body>
</html>